<footer>
  <div class="f-info">
    <div class="f-socials">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
    </div>
    <div>&copy;Homely-find pvt limited</div>
    <div class="f-links">
      <a>Terms</a>
      <a>Privacy</a>
    </div>
  </div>
</footer>
